body { 

    background-image: url('./images/1420469522488.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: 50% 100%;
    background-size:cover;
    background-color:black;
    color: bisque;
}
.header {
    background-color: black;
    color: bisque;
}

.logoPos {
    position: fixed;
    bottom:-5px;
    left: 0px;
    z-index: -1;
}

#radius-corners {
    border-radius: 20px;
}

.myCrs {
	cursor: pointer;
}

.textArea {
    border:outset 4px black;
    background: transparent;
    position:inherit; 
    color: white;
    resize: none;
    width: 35%;
    height: 20vh;
}

.mytable {
    border-collapse: collapse;
    overflow-x:auto;
    width: 80%;
}

.mytr {
    padding: auto;
    text-align: left;
    border-bottom: 1px dashed bisque;
}

#newMess {
    font-size: 1.3em;
    color: lightcoral;
    border-left: 5px solid;
    border-bottom: 2px solid;
    border-bottom-color: bisque;
    border-left-color: lightcoral;
}

.newTag{
    border-bottom: hidden;
}

.firstCol {
    width: 150px;
}
.lastCol {
    border-bottom: hidden;
}

.firstrow {
    text-align: left;
    border-bottom: 3px solid bisque;
}

.menu {
    color: bisque;
    padding: 5px;
    background: black;
}

.error {
    color: lightcoral;
    font-size: 1.4em;
}